<app-navbar></app-navbar>
<div class="container-fluid">
    <div class="row">
        <!-- passed appointments -->
        <div *ngIf="isAppointmentsLoaded" class="col-3"  id="pastAppointments">
            <div class="card" *ngFor="let appointment of lastAppointments" (click)="toogleDialog(appointment)">
                <div class="card-header d-flex justify-content-between">
                    <span>{{ appointment.date.jj }} - {{ appointment.date.mm }} - {{ appointment.date.yy }}</span>
                    <span>{{ appointment.startHour.hh }} - {{ appointment.startHour.mn }}</span>
                </div>
                <div class="card-body" (click)="onShowAppointmentInfos(appointment)">
                    <p class="d-flex justify-content-center"> 
                        {{ appointment.doctorId }} {{ doctorsInfos.get(appointment.doctorId).lastName }}<br>
                        {{ doctorsInfos.get(appointment.doctorId).speciality }}
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <button class="btn btn-primary">Réprendre rendez-vous</button>
                </div>
            </div>
        </div>
        <!--
            <ng-template class="col-4 d-flex justify-content-center" #hello1>
                <p style="text-align: center;">Vous n'avez aucun rendez-vous passé</p>
            </ng-template>
        -->
        <div *ngIf="!isAppointmentsLoaded" class="col-4 d-flex justify-content-center">
            <mat-spinner></mat-spinner>
        </div>
        <!-- next appointment -->
        <div *ngIf="isAppointmentsLoaded" class="col-8">
            <div class="card" *ngFor="let appointment of nextAppointments" (click)="toogleDialog(appointment)">
                <div class="card-header d-flex justify-content-between">
                    <span>{{ appointment.date.jj }} - {{ appointment.date.mm }} - {{ appointment.date.yy }}</span>
                    <span>{{ appointment.startHour.hh }} - {{ appointment.startHour.mn }}</span>
                </div>
                <div class="card-body">
                    <p class="d-flex justify-content-center"> 
                        {{ appointment.doctorId }} {{ doctorsInfos.get(appointment.doctorId).lastName }}<br>
                        {{ doctorsInfos.get(appointment.doctorId).speciality }}
                    </p>
                </div>
                <div class="card-footer d-flex justify-content-center">
                    <button class="btn btn-primary">Annuler</button>
                </div>
            </div>
        </div>
        <!--
            <ng-template class="col-4 d-flex justify-content-center" #hello>
                <p style="text-align: center;">Vous n'avez encore aucun message à venir</p>
            </ng-template>
        -->
    </div>
</div>